<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.angularjs.cn/angularjs/1.3.9/angular.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link type="text/css" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <title>stock</title>
    <script>
        var stock = angular.module('stock', []);
        stock.config(['$interpolateProvider', function($interpolateProvider) {
            $interpolateProvider.startSymbol('{[');
            $interpolateProvider.endSymbol(']}');
        }]);
        stock.controller('MAIN', ['$scope', '$http', function ($scope, $http){
            var host = "ws://163.44.138.194:6002/";
            var socket = new WebSocket(host);
            socket.onopen = function(msg){
                console.log('open');
                socket.send('msg');
            };
            socket.onmessage = function(msg){
                var data = JSON.parse(msg.data.replace(/\'/g, '"'));
                $scope.data = data;
                $scope.date = new Date(data.timestamp * 1000);
                console.log($scope.data);
                $scope.$apply();
            };
            socket.onclose   = function(msg){
                console.log("Lose Connection!");
            };
            setInterval(function (){
                socket.send('msg');
            }, 10000);

            setInterval(function(){
                $scope.time = new Date();
                $scope.$apply();
            }, 1000)
        }]);
    </script>
</head>
<body ng-app="stock" ng-controller="MAIN">
    <div>
        涨:{[data.up.length]}
        <br>
        涨停: {[data.upMax.length]}
        <br>
        跌:{[data.down.length]}
        <br>
        跌停: {[data.downMax.length]}
        <br>
        停牌: {[data.stop.length]}
        <br>
        大盘委比: {[(data.buy_total - data.sell_total) / (data.buy_total + data.sell_total) * 100]}
        <br>
        更新时间: {[date.getHours()]}时{[date.getMinutes()]}分{[date.getSeconds()]}秒
        <br>
        当前时间: {[time.getHours()]}时{[time.getMinutes()]}分{[time.getSeconds()]}秒
        <br>
        <p>涨停股票:</p>
        <span ng-repeat="id in data.upMax">{[id]},</span>
        <p>跌停股票:</p>
        <span ng-repeat="id in data.downMax">{[id]},</span>
        <table>
            <tr>
                <td>股票代号</td>
                <td>股票名</td>
                <td>涨跌幅度</td>
                <td>开盘价</td>
                <td>昨天收盘价</td>
                <td>现价</td>
            </tr>
            <tr ng-repeat="(stock,value) in data.computed">
                <td>{[stock]}</td>
                <td>{[value[0]]}</td>
                <td>{[value[1]]}</td>
                <td>{[value[2]]}</td>
                <td>{[value[3]]}</td>
                <td>{[value[4]]}</td>
            </tr>
        </table>
    </div>
</body>
</html>